<mat-dialog-content>
    <div class="person">
        <form>
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="end end" fxLayoutGap.gt-sm="24px">
                <!-- <div class="fury-flex-form-field">
                    <button (click)="onSave()" color="primary" mat-raised-button>
                        <span>SAVE BILL</span>
                    </button>
                </div> -->

                <!-- <div class="fury-flex-form-field">
                    <button (click)="onExport()" color="primary" mat-raised-button>
                        <span>Export</span>
                    </button>
                </div>

                <div class="fury-flex-form-field">
                    <button (click)="onPrint()" color="primary" mat-raised-button>
                        <span>PRINT</span>
                    </button>
                </div> -->
            </div>
        </form>
    </div>
</mat-dialog-content>