.deduction {
    vertical-align: middle; 
    margin-top: 15px;
}

.deductionAmount {
    margin-left: 24px;
    margin-right: 24px;
}

.window
{
    width: 80%;
}

.task-header {
    background-color: transparent;
    padding: 0 5px;
    height: 20px;
}

.fx-spacer {
    flex: 1 1 auto;
}

.myInput {
    height: 50px !important;
    padding: 10px !important;
}
