
<div  fxLayout="column" flexLayoutGap="10px">
    <div class="title-row"><h2><b>Read and Accept the End User Agreement</b></h2></div>
    <pdf-viewer [src]="fileName"  style="display: block;" [render-text]="true"></pdf-viewer>  
    <div flexLayoutGap="10px" class="flex-container">
        <div class="start-div"></div>
        <button (click)="decline()" color="primary"
        mat-button
        type="button">Decline
        </button> 
        <button (click)="accept()" color="primary"
            mat-raised-button
            type="button">Accept
        </button>  
    </div>  
   
</div>
