
  .mat-dialog-container 
  {
    margin-left:150px;
    margin-top:50px;
    width:60%;
    height:60%;
}

.left-margin
{
  margin-left: 5px;
}

.right-margin
{
  margin-right: 5px;
}

.header-align-right{
  text-align: right;
}