<mat-dialog-content>
    <div class="person">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <div class="fury-flex-form-field" fxFlex>
                <app-table-structure [visibleUpdateButton]="true" [visibleDeleteButton]="true" [formName]="formName"
                    [tableData]="tariffMasters" [columns]="columns" (addItemClicked)="onAddItem()"
                    (deleteRow)="onDeleteRow($event)" (updateRow)="onUpdateRow($event)"
                    (selectedRows)="onSelectedRows($event)" [hideHeader]="false">
                </app-table-structure>
            </div>
        </div>
    </div>
</mat-dialog-content>