<fury-page-layout mode="card">
    <fury-page-layout-content fxLayout="column" class="content">

        <!-- <div class="loading-indicator" *ngIf="showSpinner">
            <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
        </div> -->
        
        <div>
            <span class="toolBar">Energy Cost</span>
            <span class="example-spacer"></span>

            <mat-button-toggle-group name="fontStyle" class="buttons" aria-label="Font Style" [value]="selectedValue"
                (change)="onValChange($event)" style="font-size: small;float:right" >                
                <mat-button-toggle id={{q}} mat-raised-button *ngFor='let q of frequency; let i = index' [checked]="i === 0" style="padding: 0px;" value={{q}}>{{q}}</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <!-- <div class="example-button-row">
            <button mat-raised-button id={{q}} *ngFor='let q of buttons; let i = index' [checked]="i === 0" value={{q}}>{{q}}</button>
        </div> -->

        <div id="buttonGroup">
            <mat-button-toggle-group name="fontStyle" class="buttons" aria-label="Font Style" [value]="reportType"
                (change)="onButtonChange($event)" style="font-size: small;border: 0px;" >                
                <mat-button-toggle id={{q}} *ngFor='let q of buttons; let i = index' [checked]="i === 0" style="padding: 0px;margin-right: 8px;" value={{q}}>{{q}}</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="content" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px"
            style="padding: 0% 0% 1% 0%" fxFlex="100%">

            <fury-energy-cost-tile fxFlex [costLabel]="previousLabel" [energyCost]="previousEnergyCost"></fury-energy-cost-tile>
            <fury-energy-cost-tile fxFlex [costLabel]="currentLabel" [energyCost]="currentEnergyCost"></fury-energy-cost-tile>
            <fury-energy-cost-tile fxFlex [costLabel]="forecastLabel" [energyCost]="forecastEnergyCost"></fury-energy-cost-tile>
            <fury-energy-cost-tile fxFlex [costLabel]="estimatedSavingsLabel" [energyCost]="estimatedSavings"></fury-energy-cost-tile>
        </div>
        <div class="content" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" 
            style="padding: 0% 0% 0.25% 0.20%">
            <mat-card class="mat-elevation-z4" fxFlex="100%">
                <div id="eccontainer1"></div>
            </mat-card>
        </div>
    </fury-page-layout-content>
</fury-page-layout>


