.mat-button-toggle-checked {
  background-color:#0051B4;
  color: white !important;
}

.content{
  margin-top: 1%;
}

.toolBar {
  font-size: x-large;
  font-weight: bold;
  line-height: 50px;
}

.common-buttons{
  height: 50%;
}


.mat-button-toggle-group button :checked {
  background-color:#1fd286;
  color: white !important;
}

.mat-raised-button {
  color: black;
}

.mat-raised-button-checked {
  background-color:#1fd286 !important;
  color: white !important;
}

/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
