.mat-button-toggle-checked {
    background-color:#0051B4;
    color: white !important;
  }
  
  .content{
    margin-top: 1%;
  }
  
  .toolBar {
    font-size: x-large;
    font-weight: bold;
    line-height: 50px;
  }
  
  .common-buttons{
    height: 50%;
  }

  .topPadding {
    padding-top: 20px;
  }
  
  .tileHeading {
    font-weight: bold;    
  }  

  .myInput {
    height: 50px !important;
    padding: 10px !important;
  }
  
  .energyCost
  {
    font-size: x-large;
    vertical-align: middle;
    margin: 0px;
    padding: 25px 0px 10px 0px;
    font-weight: bold;
  }
  
  .mat-button-toggle-group-checked .group1 {
    background-color:#1fd286;
    color: white !important;
  }

  .mat-raised-button {
    color: black;
  }
  
  .mat-raised-button-checked {
    background-color:#1fd286 !important;
    color: white !important;
  }