<div class="page" fxLayout="column" fxLayoutAlign="center center">
  <div [@fadeInUp] class="card border-radius elevation">
    <div class="header padding" fxLayout="column" fxLayoutAlign="center center">
      <div >
        <img src="assets/img/smartBill.png" width="290px" height="90px">
      </div>
    </div>
    <div class="padding" fxLayout="column" fxLayoutGap="16px" [formGroup]="form">

      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>User Name</mat-label>
          <input matInput required formControlName="userName" [(ngModel)]="userName">
          <mat-hint>Enter your user name to recover your password.</mat-hint>
          <mat-error *ngIf="form.get('userName').hasError('required')">
            We can't recover your password, without your user name.
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>E-Mail</mat-label>
          <input matInput required formControlName="email" [(ngModel)]="email">
          <mat-hint>Enter your mail to recover your password.</mat-hint>
          <mat-error *ngIf="form.get('email').hasError('required')">
            We can't recover your password, without your email.
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="5px">
        <button type="button" style="width: 33%;" color="primary" mat-raised-button (click)="goBack()">
          GO BACK
        </button>
        <button type="button" color="primary" style="width: 67%;" [disabled]="form.invalid" mat-raised-button (click)="send()">
          SEND RECOVERY LINK
        </button>
      </div>
    </div>
  </div>
</div>