<mat-dialog-content>
  <div class="person">
    <form>
      <button
        matTooltip="Save"
        (click)="onSave()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>save</mat-icon>
      </button>

      <!-- <button matTooltip="Print" (click)="onPrint()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                        <mat-icon>print</mat-icon>
                      </button> -->
    </form>
  </div>
</mat-dialog-content>
