<div fxLayout="column wrap" style="padding: 27px 27px 27px 27px;">

    <div class="loading-indicator" *ngIf="showSpinner">
        <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>

    <mat-toolbar color="primary" class="position-fixed">
        <img class="img-style" src="assets/img/fav-icon.png">
        <span>Live Meter Reading</span>
        <span class="toolbar-spacer"></span>
    </mat-toolbar>


    <div fxLayout="row" style="height: 129px;">

        <mat-card class="mat-elevation-z4" fxLayoutGap="2px" fxFlexLayout="row" fxFlex>

            <div fxFlexLayout="column" fxFlex="80%" fxLayoutGap="25px" style="margin-top: 2% !important;">
                <!-- <ng-multiselect-dropdown fxFlex="40%" class="multiSelectCustom" name="meterName"
                    [placeholder]="'Meter Type'" [data]="lstMeterType" [(ngModel)]="lstMeter"
                    [formControl]="txtForm.controls['meterType']" [settings]="dropdownSettings"
                    [disabled]="blnMeterType" (onSelect)="optionClicked($event)">
                </ng-multiselect-dropdown> -->
                <mat-form-field>
                    <mat-select [(ngModel)]="meterTypeName" name="meterType" id="meterTypeId" placeholder="Select a Meter Type"
                      (selectionChange)="onMeterTypeChange($event)">
                      <mat-option *ngFor="let item of meterTypes;" [value]="item.description">{{item.description}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                <mat-form-field fxFlex="20%" class="left-space">
                    <mat-select [(ngModel)]="lstMeter" multiple [formControl]="txtForm.controls['meterType']"
                        placeholder="Select a Meter" class="multiSelectCustom">
                        <input class="myInput" #myInput matInput focused="'true'" type="text" (keydown)="handleInput($event)"
                            (keyup)="searchMeterType($event.target.value)" autocomplete="off" placeholder="search">
                        <mat-divider></mat-divider>
                        <mat-option #allMeterTypesSelected (click)="toggleMeterTypesAllSelection()" [value]="0">Select All</mat-option>
                        <mat-option *ngFor="let item of lstMeterType" [value]="item.id"
                            (click)="toggleMeterTypesPerOne(allMeterTypesSelected.viewValue)"> {{item.deviceName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex="20%" class="left-space">
                    <mat-select [(ngModel)]="voltType" multiple [formControl]="txtForm.controls['voltType']"
                        placeholder="Parameters" class="multiSelectCustom">
                        <input class="myInput" #myInput matInput focused="'true'" type="text" (keydown)="handleInput($event)"
                            (keyup)="searchParameters($event.target.value)" autocomplete="off" placeholder="search">
                        <mat-divider></mat-divider>
                        <mat-option #allParamtersSelected (click)="toggleParametersAllSelection()" [value]="0">Select All</mat-option>
                        <mat-option *ngFor="let item of lstvoltType" [value]="item.id"
                            (click)="toggleParametersPerOne(allParamtersSelected.viewValue)"> {{item.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div fxFlex="20%">
                    <button [disabled]="txtForm.invalid" fxFlexLayout="row" color="primary" mat-raised-button
                        class="common-buttons" (click)="getMeterData()">
                        APPLY
                    </button>

                </div>

            </div>
            <!-- <div fxFlexLayout="column" fxFlex="20%" fxLayoutGap="5px">
                <button [disabled]="txtForm.invalid" fxFlexLayout="row" color="primary" mat-raised-button
                    class="common-buttons" (click)="getMeterData()">
                    APPLY
                </button>
            </div> -->
        </mat-card>


    </div>


    <!-- <div fxLayout="column" fxLayoutGap="10px"> -->
    <div class="card-data" fxLayoutGap="8px">
        <mat-card *ngFor="let card of obs | async" class="mat-elevation-z8" class="meter-card">
            <h3 style="margin-top: 0px;background-color:#e8e8e8">
                <div class="blink_me">
                    <mat-icon class="white-icon"
                        [ngStyle]="{'color': card.meterBgColor,'background': card.meterBgColor}">circle
                    </mat-icon>
                </div>
                {{card.meterName}}
            </h3>

            <div class="parameterCustom" style="padding:2%;" *ngFor="let parameters of card.meterParameters">
                <div fxLayout="row" fxLayoutGap="100">
                    <b fxLayoutAlign="start center" fxFlex="50"> {{parameters.pramName}}</b>
                    <b fxLayoutAlign="end center" fxFlex="50" fxLayoutAlign="end center"> {{parameters.pramValue}} </b>
                </div>
            </div>

            <h3 style="background-color:#e8e8e8">{{card.updatedTime}}</h3>
        </mat-card>
    </div>
    <mat-card fxFlex *ngIf="cardData.length==0" class="text-align">
        <label>
            <b>
                No Data Found
            </b>
        </label>
    </mat-card>

    <!-- </div> -->


    <div class="paginator">
        <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[8, 12, 16, 24, 100]"
            (page)="pageEvent = $event"></mat-paginator>
    </div>    
</div>