<mat-dialog-content>
    <div class="person">
        <form>
            <button matTooltip="Force Generate" (click)="onForceVerify()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>launch</mat-icon>
              </button>
              <button matTooltip="Average Conumption Generate" (click)="onAverageConsumption()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>save</mat-icon>
              </button>
        </form>
    </div>
</mat-dialog-content>