<mat-dialog-content>
    <div class="person">
        <form>
            <button (click)="onSendEmail()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>email</mat-icon>
              </button>
          
              <button (click)="onPrint()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>print</mat-icon>
              </button>
        </form>
    </div>
</mat-dialog-content>