<div class="page" fxLayout="column" fxLayoutAlign="center center">
  <div [@fadeInUp] class="card border-radius elevation">
    <div class="header padding" fxLayout="column" fxLayoutAlign="center center">
      <div >
        <img src="assets/img/smartBill.png" width="290px" height="90px">
      </div>
    </div>
    <div class="padding" fxLayout="column" fxLayoutGap="16px" [formGroup]="form">
      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>New Password</mat-label>
          <input matInput [type]="newPasswordInputType" required formControlName="newPassword"
            [(ngModel)]="newPassword">
          <button type="button" mat-icon-button matSuffix (click)="toggleNewPasswordVisibility()"
            matTooltip="Toggle Visibility">
            <mat-icon *ngIf="newPasswordVisible">visibility</mat-icon>
            <mat-icon *ngIf="!newPasswordVisible">visibility_off</mat-icon>
          </button>
          <mat-hint>Enter your new password.</mat-hint>
          <mat-error *ngIf="form.get('newPassword').hasError('pattern')">Password should contain 1 Uppercase, 1 Special character and minimum 8 charaters long.</mat-error>
          <!-- <mat-error *ngIf="form.get('newPassword').hasError('pattern')">
            Enter your new password.
          </mat-error> -->
        </mat-form-field>
        <mat-form-field fxFlex="grow" class="topBottomPadding">
          <mat-label>Confirm Password</mat-label>
          <input matInput required [type]="confirmPasswordInputType" formControlName="confirmPassword"
            [(ngModel)]="confirmPassword">
          <button type="button" mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()"
            matTooltip="Toggle Visibility">
            <mat-icon *ngIf="confirmPasswordVisible">visibility</mat-icon>
            <mat-icon *ngIf="!confirmPasswordVisible">visibility_off</mat-icon>
          </button>

          <mat-hint>Re-enter new password.</mat-hint>
          <mat-error *ngIf="form.get('confirmPassword').hasError('pattern')">Password should contain 1 Uppercase, 1 Special character and minimum 8 charaters long.</mat-error>

          <!-- <mat-hint>Enter your confirm password.</mat-hint>
          <mat-error *ngIf="form.get('confirmPassword').hasError('pattern')">
            Confirm your new password.
          </mat-error> -->
          <mat-error *ngIf="!passwordMatch">
            Password does not match, Please check again !!.
          </mat-error>
        </mat-form-field>
      </div>

      <button type="button" color="primary" mat-raised-button [disabled]="form.invalid" (click)="confirm()">
        Confirm
      </button>
    </div>
  </div>
</div>