.topPadding {
    padding-top: 20px;
  }
  
  .tileHeading {
    font-weight: bold;
  }
  
  .energyCost
  {
    font-size: x-large;
    vertical-align: middle;
    margin: 0px;
    padding: 25px 0px 10px 0px;
    font-weight: bold;
  }
  
  .gain {
    color: #5cb85c;  
    padding: 0px 10px 0px 10px;
    font-weight: bolder;
    font-size: large;
  }
  
  .loss {
    color: #d9534f;
    padding: 0px 10px 0px 10px;
    font-weight: bolder;
    font-size: large;
  }
    