<fury-list name="{{formName}}" [hideHeader]="hideHeader" [hideFilter]="hideFilter" class="list" fxFlex="grow"
    fxLayout="column" (filterChange)="onFilterChange($event)">
    <div class="actions" *ngIf="!hideHeader">
        <!--<mat-checkbox color="primary" (change)="toggleMovedOutTenant(movedOut)">Moved Out Tenant</mat-checkbox>
         <mat-checkbox color="primary" formControlName="movedOutTenant" (change)="toggleMovedOutTenant(movedOut)">Moved Out Tenant</mat-checkbox>  -->
        <button class="create left margin" *ngIf="buttonVisible" (click)="addItem()" type="button" mat-mini-fab color="primary">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <table [dataSource]="dataSource" mat-table matSort>

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell>
                <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()" [disabled]="disableCheckBox"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
            </th>
            <td *matCellDef="let row" class="actions-cell" mat-cell>
                <mat-checkbox color="primary" (click)="$event.stopPropagation()" [disabled]="disableCheckBox"
                    (change)="$event ? isCheckChange(row) : null" [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Split Button Column -->
        <!-- <ng-container matColumnDef="button">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header></th>
            <td *matCellDef="let row" class="actions-cell" mat-cell>
                <mat-button-toggle-group color=primary>
                    <mat-button-toggle class="split-button-1">Action</mat-button-toggle>
                    <mat-button-toggle class="split-button-1 drop-down-button" [matMenuTriggerFor]="dropdownMenuOne">
                        <mat-icon>arrow_drop_down</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>

                <mat-menu #dropdownMenuOne="matMenu">
                    <button mat-menu-item>Preview</button>
                    <button mat-menu-item>Send SMS</button>
                    <button mat-menu-item>Send Watsapp</button>
                    <button mat-menu-item>Send Email</button>
                </mat-menu>
            </td>
        </ng-container> -->


        <!-- Image Column -->
        <ng-container matColumnDef="image">
            <th *matHeaderCellDef class="image-cell" mat-header-cell></th>
            <td *matCellDef="let row" class="image-cell" mat-cell>
                <img src="http://i.pravatar.cc/30?u={{ row.name }}">
            </td>
        </ng-container>

        <!-- fullName Column -->
        <ng-container *ngFor="let column of columns">
            <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.name }}</th>
                <td *matCellDef="let row" mat-cell [ngStyle]="column.columnAlign">
                    {{ row[column.property] }}
                    <span>
                        <mat-icon>{{row[column.icon]}}</mat-icon>
                    </span>
                </td>
            </ng-container>

            <ng-container
                *ngIf="!column.isModelProperty && column.property !=='checkbox'  && column.property !=='actions'"
                [matColumnDef]="column.property">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    {{ column.name }}
                </th>
                <!-- fxLayoutAlign="center" -->
                <td *matCellDef="let row; let i = index" mat-cell [ngStyle]="column.columnAlign" >
                    <mat-form-field floatLabel="never">
                        <!-- [ngModel]="row[column.property] | number: roundFormat | noComma"  -->
                        <input type="textbox" matInput placeholder="Amount" [value]="column.property+i" autofocus furyValidateDecimalPlacesDirective
                            [disabled]="row && row['disabled']" [(ngModel)]="row[column.property]" style="text-align: right;"
                            (input)="onTextChange(row)" (change)="onTextChange(row)">
                    </mat-form-field>
                </td>
            </ng-container>
        </ng-container>


        <!-- actions Column -->
        <ng-container matColumnDef="actions">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header></th>
            <td *matCellDef="let row" class="actions-cell" mat-cell>
                <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu"
                    (click)="$event.stopPropagation()">
                    <mat-icon>more_horiz</mat-icon>
                </button>

                <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">
                    <button *ngIf="visiblePrintButton" (click)="printRows(row)" mat-menu-item>
                        <span>Print</span>
                    </button>
                    <button *ngIf="visibleUpdateButton" (click)="updateRows(row)" mat-menu-item>
                        <span>Modify</span>
                    </button>
                    <button *ngIf="visibleDeleteButton" (click)="deleteRows(row)" mat-menu-item>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr (click)="updateRows(row)" *matRowDef="let row; columns: visibleColumns;"
            class="clickable route-animations-elements" mat-row></tr>
    </table>
    <mat-paginator class="paginator" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
</fury-list>