<div mat-dialog-title>
    <mat-toolbar role="toolbar" class="task-header">
      <span>Create Master Details</span>
      <span class="fx-spacer"></span>
      <button mat-icon-button (click)="close()">
          <mat-icon title="Close" mat-list-icon>close</mat-icon>
      </button>
    </mat-toolbar>
</div>
  
 <form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content class="mat-dlg-content">
        <fury-card>
            <fury-card-content>

                <div class="person padding-top">
                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px">

                        <mat-form-field fxFlex *ngIf="parentExists == true">
                            <mat-label>Parent Item</mat-label>                                   
                            <input matInput [matAutocomplete]="parent" formControlName="parentName" [(ngModel)]="parentName">                             
                            <mat-autocomplete #parent="matAutocomplete" (optionSelected)="selectParentMode($event)">
                                <mat-option *ngFor="let parentMode of filteredParentModes; index as i" [value]="parentMode.description">
                                {{ parentMode.description }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
            
                        <mat-form-field fxFlex>
                            <mat-label>Item Name</mat-label>
                            <input type="text" formControlName="description" matInput>
                            <app-show-errors [ctrl]="form.get('description')"></app-show-errors>
                            <mat-hint>Please enter Item Name</mat-hint>
                        </mat-form-field>
            
                    </div>
                    </div>

            </fury-card-content>
        </fury-card>
    </mat-dialog-content> 
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button mat-button (click)="closeDialog()">CANCEL</button>
        <button mat-button [disabled]="!form.valid">CREATE MASTER DETAILS</button>
    </mat-dialog-actions>
</form> 

