<meta name="viewport" content="width=device-width; initial-scale=1.0" />

<mat-card fxLayout="column" fxLayoutGap="20px" style="padding: 27px 27px 27px 27px">
  <!-- <mat-card class="heading"> -->
  <mat-toolbar color="primary" class="position-fixed">
    <img class="img-style" src="assets/img/fav-icon.png" />
    <span>Create Ticket</span>
    <span class="toolbar-spacer"></span>
    
    <!-- <button (click)="cancelData()" [disabled]="txtForm.pristine" mat-icon-button class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon class="icon-color" matTooltip="Reset">refresh</mat-icon>
    </button>
    <button (click)="saveData()" [disabled]="txtForm.invalid || isUploadSuccess == false" mat-icon-button class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon class="icon-color" matTooltip="Save">save</mat-icon>
    </button> -->
  </mat-toolbar>

  <!-- <div style="    margin-top: -10px;color: white;"><b>
   <span> Create Ticket</span>
  </b></div> -->
  <!-- </mat-card>  -->

  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex="100%" fxLayoutGap="20px">
    <mat-form-field *ngIf="ownerId == 0">
      <mat-select [disabled]="ownerId>0" [(ngModel)]="entityName" name="entityName" id="entityId"
        placeholder="Entity Type" (ngModelChange)="entityChanged()">
        <mat-option *ngFor="let entity of lstEntities" [value]="entity.label">{{
          entity.label
        }}</mat-option>
      </mat-select>
      <mat-hint>Please select Entity Type</mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="ownerId == 0">
      <mat-label>Entities</mat-label>
      <input matInput [matAutocomplete]="entities" [formControl]="txtForm.controls['entities']" (input)="getEntities($event.target.value)"/>
      <mat-autocomplete #entities="matAutocomplete" (optionSelected)="selectEntity($event)">
        <mat-option *ngFor="let value of filteredEntities; index as i" [value]="value.entityName">
          {{ value.entityName }}</mat-option>
      </mat-autocomplete>
      <mat-hint>Please select Entity</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-select [(ngModel)]="sentTo" name="sentTo" [formControl]="txtForm.controls['sendTo']" id="sendId"
        placeholder="Sent To">
        <mat-option *ngFor="let item of lstsentTo" [value]="item.id">{{
          item.description
        }}</mat-option>
      </mat-select>
      <mat-hint>Please select Sent To</mat-hint>
    </mat-form-field>

  </div>

  <div fxLayout="row" fxLayoutGap="20px">

    <mat-form-field fxFlex="100%">
      <input [(ngModel)]="ticketTitle" [formControl]="txtForm.controls['tname']" matInput placeholder="Ticket Title"
        id="ticketId" />
      <mat-hint>Please enter Ticket Title</mat-hint>
      <mat-error *ngIf="txtForm.controls['tname'].errors?.pattern">
        Accepts only Alphanumeric with space
      </mat-error>
    </mat-form-field>

  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="20px">
    <input type="file" id="picture" (change)="uploadPhoto()" class="input-file" id="InputFile" style="padding-top: 10px;"
      [formControl]="txtForm.controls['ticketPhoto']" name="InputFile" #ticketPhoto />    
    <img src="{{ image }}" class="profileButton"/>
    <!-- *ngIf="type == 'image' && image" -->
  </div>

  <mat-hint class="errorMessage" *ngIf="isUploadSuccess == false">{{ errorMessage }}</mat-hint>  
  
  <div fxLayout="row" fxFlex="100%">
    <quill-editor [@fadeInUp] [formControl]="txtForm.controls['form']" class="quill mat-elevation-z16"
      [(ngModel)]="text" [placeholder]="'Ticket Message....'" fxLayout="column">
    </quill-editor>
  </div>  

  <div style="text-align: right;">
    <button (click)="cancelData()" [disabled]="txtForm.pristine" [ngClass]="txtForm.pristine ? 'buttonStyleDisabled' : 'buttonStyle'" mat-button>RESET</button>
    <button (click)="saveData()" style="margin-left: 20px;" [ngClass]="txtForm.pristine ? 'buttonStyleDisabled' : 'buttonStyle'" [disabled]="txtForm.invalid || isUploadSuccess == false" mat-button>SAVE</button>
  </div>
  
  <div fxLayout="row" fxLayoutGap="20px" *ngIf="role == 'ADMIN'">
    <mat-form-field style="width: 50%">
      <mat-select [(ngModel)]="status" name="status" id="statusId" placeholder="Status">
        <mat-option *ngFor="let item of lstStatus" [value]="item.id">{{item.description}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 50%">
      <input [(ngModel)]="assignedTo" name="assignedTo" matInput placeholder="Assigned To" id="assignedId" />
    </mat-form-field>
  </div>
  
</mat-card>