/* Add application styles & imports to this file! */

ul {
    list-style: none;
    width: 200px;
    border: 1px solid #1976d2;
    height: 200px;
    display: inline-block;
    padding: 5px;
    overflow: auto;
  }
  
  ul > li {
    background: #b2d3f5;
    color: black;
    border: 1px solid #c7dff8;
    padding: 8px;
  }
  
  .container {
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .buttons-container {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .item-selected {
    background: rgb(104, 211, 104) !important;
    color: white !important;
  }

  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .img-style{
    width: 32px;
  }

  .position-fixed{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 5;
  }