
<!-- <mat-card fxLayout="column wrap" style="padding: 27px 27px 27px 27px;"> -->


<!-- <mat-toolbar color="primary">
     <img class="img-style" src="assets/img/fav-icon.png">
      <span>Tenant / Owner Dashboard</span>
    </mat-toolbar>

    <mat-card fxLayout="column wrap" style="padding: 27px 27px 27px 27px;" fxLayoutGap="50px">

      <div fxLayout="row" fxLayoutGap="15px" style="margin-left: -15px;min-height: 172px;">
        <mat-card  style="width: 50%;height: 134px;box-shadow: none !important;">
            <div fxLayout="row" style="  width: 99%; background-color:rgb(224 238 241);  padding-left: 175px;min-height: 40px;"><b style="margin-top: 11px;">Last Bill and Consumption</b></div>
            <div style="min-height:10px"></div>
            <div fxLayout="row wrap" fxLayoutGap="20px" >
                <div fxLayout="column wrap" style="text-align: center; width: 50%;background-color:rgb(224 238 241); ">
                  <b style="margin-top: 8px;">Last Bill</b>
                  <h2 style="color: #0d6bd2;" *ngIf="blnShow"><b> AED {{LastBill}}</b></h2>
                  <b style="margin-bottom: 10%;" *ngIf="blnShow">On {{LastBillDate}}</b>
                  <mat-card class="nodata" *ngIf="!blnShow">
                    <p>
                      <b>
                        No Data Found
                      </b>
                    </p>
                  </mat-card>
                </div>
                <div fxLayout="column wrap"   style="text-align: center;width: 45%;background-color:rgb(224 238 241);">
                  <b style="margin-top: 8px;">Consumption</b>
                  <h2 style="color:  #0d6bd2;" *ngIf="blnShow"><b>{{LastConsumption}}  KWH</b></h2>
                  <b style="margin-bottom: 10%;" *ngIf="blnShow">On  {{ConsumptionDate}}</b>
                  <mat-card class="nodata" *ngIf="!blnShow">
                    <p>
                      <b>
                        No Data Found
                      </b>
                    </p>
                  </mat-card>
                </div>
            </div>
        </mat-card>

        <mat-card  style="width: 50%;height: 134px;box-shadow: none !important;">
          <div fxLayout="row" style="  width: 99%; background-color:rgb(224 238 241);   padding-left: 175px;min-height: 40px;"><b style="margin-top: 11px;">Last Payment Details</b></div>
          <div style="min-height:10px"></div>
          <div fxLayout="row wrap" fxLayoutGap="20px"  >
              <div fxLayout="column wrap" style="text-align: center; width: 50%;background-color:rgb(224 238 241);">
                <b style="margin-top: 8px;">Amount paid</b>
                <h2 style="color:  #0d6bd2;" *ngIf="blnShow"><b>AED {{LastPaid}}</b></h2>
                 <b style="margin-bottom: 10%;" *ngIf="blnShow">On {{LastPaidDate}}</b>
                 <mat-card class="nodata" *ngIf="!blnShow">
                  <p>
                    <b>
                      No Data Found
                    </b>
                  </p>
                </mat-card>
              </div>
          
              <div fxLayout="column wrap" style="text-align: center;width: 45%;background-color:rgb(224 238 241); ">
                <b style="margin-top: 8px;">Total Due</b>
                <h2 style="color:  #0d6bd2;" *ngIf="blnShow"><b>AED {{TotalDue}}</b></h2>
                <button class="button-style" mat-raised-button color="primary" *ngIf="blnShow" (click)="paymentNavigation()">Pay Now</button>
                <mat-card class="nodata" *ngIf="!blnShow">
                  <p>
                    <b>
                      No Data Found
                    </b>
                  </p>
                </mat-card>
              </div>
          </div>
      </mat-card>

    </div>


        <div fxLayout="row" fxLayoutGap="20px">
            <mat-form-field fxFlex="50%;">
              <mat-select [(ngModel)]="unitNo" name="unitNo" id="unitNoId" placeholder="Unit Number"  (ngModelChange)="onDropdownChange()">
                <mat-option *ngFor="let item of lstunitNo;" [value]="item.id" >{{item.description}}</mat-option>
              </mat-select>
            </mat-form-field>
        
            <mat-form-field fxFlex="50%;">
              <mat-select [(ngModel)]="utilityType" name="utilityType" id="utilityTypeId" placeholder="Utility Type" (ngModelChange)="onDropdownChange()">
                <mat-option *ngFor="let item of lstutilityType;" [value]="item.id" >{{item.description}}</mat-option>
              </mat-select>
            </mat-form-field>
        </div>


          <div fxLayout="column wrap" style="min-height:20px" fxLayoutGap="5px">
            <h3><b>Last 12 months usage charts [KWH]</b></h3>
            <h2 style="color: #0d6bd2;"><b>Energy Rate Plan [Plan Name]</b></h2>
          </div>

          <div fxLayout="row" style="    margin-left: -15px;" >
              <div id="barChartId" style="width: 1000px"></div> 
          </div>


    </mat-card>


</mat-card> -->


<div fxLayout="column" fxLayoutGap="2%" style="padding: 1%;">

  <span class="toolBar" fxLayout="row" fxLayout.xs="column"> Welcome, {{ ownerName }} </span>
  <!-- <mat-toolbar color="primary" fxLayout="row" fxLayout.xs="column">
    <img class="img-style" src="assets/img/fav-icon.png" [fxHide.xs]="true">

    <span fxLayout="row" fxLayout.xs="column"> Dashboard - {{ ownerName }} </span>
  </mat-toolbar> -->


  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px" style="height: 20%;">
    <!-- <mat-card fxFlex="50%" fxLayoutGap="1%" fxLayout="column" class="card-data">
      <div class="header-row"><b>Last Bill and Consumption</b></div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" class="div-height">
        <div class="content" fxFlex.xs="100%" fxFlex="50%">
          <b>Last Bill</b>
          <h2 style="color: #0d6bd2;" *ngIf="blnShow"><b> AED {{LastBill}}</b></h2>
          <b *ngIf="blnShow">On {{LastBillDate}}</b>
          <mat-card class="nodata" *ngIf="!blnShow">
            <p>
              <b>
                No Data Found
              </b>
            </p>
          </mat-card>
        </div>
        <div class="content" fxFlex.xs="100%" fxFlex="50%">
          <b>Consumption</b>
          <h2 style="color:  #0d6bd2;" *ngIf="blnShow"><b>{{LastConsumption}} KWH</b></h2>
          <b *ngIf="blnShow">On {{ConsumptionDate}}</b>

          <mat-card class="nodata" *ngIf="!blnShow">
            <p>
              <b>
                No Data Found
              </b>
            </p>
          </mat-card>
        </div>
      </div>
    </mat-card>

    <mat-card fxFlex="50%" fxLayoutGap="1%" fxLayout="column" class="card-data">
      <div class="header-row"><b>Last Payment Details</b></div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" class="div-height">
        <div class="content" fxFlex.xs="100%" fxFlex="50%">
          <b>Amount paid</b>
          <h2 style="color:  #0d6bd2;" *ngIf="blnShow"><b>AED {{LastPaid}}</b></h2>
          <b *ngIf="blnShow && LastPaid > 0">On {{LastPaidDate}}</b>
          <mat-card class="nodata" *ngIf="!blnShow">
            <p>
              <b>
                No Data Found
              </b>
            </p>
          </mat-card>
        </div>

        <div class="content" fxFlex.xs="100%" fxFlex="50%">
          <b>Total Due</b>
          <h2 style="color:  #0d6bd2;" *ngIf="blnShow"><b>AED {{TotalDue}}</b></h2>
           <button class="button-style" mat-raised-button color="primary" *ngIf="blnShow"
            (click)="paymentNavigation()">Pay Now</button> 
          <mat-card class="nodata" *ngIf="!blnShow">
            <p>
              <b>
                No Data Found
              </b>
            </p>
          </mat-card>
        </div>
      </div>
    </mat-card> -->

    <mat-card class="mat-elevation-z4 LastBillTile" fxFlex>     
      <span style="padding-top:20px;"></span>
      <span class="fontSize">Last Bill</span>  
      <span style="padding-top:20px;"></span>    
      <!-- *ngIf="blnShow"  -->
      <p class="lastBill">{{currencySymbol}}{{LastBill}} </p>
      <p *ngIf="blnShow && LastBillDate != undefined && LastBillDate != ''" class="rightAlign">On {{LastBillDate}} </p>

      <!-- <mat-card class="nodata" *ngIf="!blnShow">
        <p>
          <b>
            No Data Found
          </b>
        </p>
      </mat-card> -->
      </mat-card>
      <mat-card class="mat-elevation-z4 Consumption" fxFlex>  
          <span style="padding-top:20px;"></span>
          <span class="fontSize">Average Bill</span>  
          <span style="padding-top:20px;"></span>    
          <!-- *ngIf="blnShow"  -->
          <p class="lastBill">{{currencySymbol}}{{LastConsumption}} </p>
          <p *ngIf="blnShow && ConsumptionDate != undefined && ConsumptionDate != ''" class="rightAlign">On {{ConsumptionDate}} </p>

          <!-- <mat-card class="nodata" *ngIf="!blnShow">
            <p>
              <b>
                No Data Found
              </b>
            </p>
          </mat-card> -->
      </mat-card>

      <mat-card class="mat-elevation-z4 LastPaid" fxFlex>  
        <span style="padding-top:20px;"></span>
        <span class="fontSize">Last Paid Amount</span>  
        <span style="padding-top:20px;"></span>    
        <!-- *ngIf="blnShow" -->
        <p class="lastBill">{{currencySymbol}}{{LastPaid}} </p>
        <p *ngIf="blnShow && LastPaidDate != undefined && LastPaidDate != ''" class="rightAlign">On {{LastPaidDate}} </p>
        <!-- <mat-card class="nodata" *ngIf="!blnShow">
          <p>
            <b>
              No Data Found
            </b>
          </p>
        </mat-card> -->
      </mat-card>

      <mat-card class="mat-elevation-z4 dues" fxFlex>       
        <span style="padding-top:20px;"></span>
        <span class="fontSize">Total Due</span>  
        <span style="padding-top:20px;"></span>    
        <p class="lastBill">{{currencySymbol}}{{TotalDue}} </p>
        <p *ngIf="blnShow && LastPaidDate != undefined && LastPaidDate != ''" style="padding-bottom:20px;"></p> 

        <!-- <p *ngIf="blnShow && TotalDue < 0" class="lastBill">AED {{TotalDue}} </p> -->

        <!-- <mat-card class="nodata" *ngIf="!blnShow">
          <p>
            <b>
              No Data Found
            </b>
          </p>
        </mat-card> -->
      </mat-card>

  </div>

  <fury-news></fury-news>

  <h6 class="customMatToolbar" >
    <div mat-dialog-title>Units and Utilities</div>
  </h6>
  <!-- <span class="toolBar" fxLayout="row" fxLayout.xs="column">Units and Utilities</span> -->

  <!-- <mat-toolbar color="primary" fxLayout="row" fxLayout.xs="column">
    <div mat-dialog-title>Units and Utilities</div>
  </mat-toolbar> -->
  

  <mat-card fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%">
    <mat-form-field fxFlex="30%;">
      <mat-select [(ngModel)]="unitNo" name="unitNo" id="unitNoId" placeholder="Unit Number"
        (ngModelChange)="onDropdownChange()">
        <mat-option *ngFor="let item of lstunitNo;" [value]="item.id">{{item.description}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="30%;">
      <mat-select [(ngModel)]="deviceId" name="utilityType" id="utilityTypeId" placeholder="Utility Type"
        (ngModelChange)="onUtilityTypeChange()">
        <mat-option *ngFor="let item of lstutilityType;" [value]="item.id">{{item.utilityType}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field fxFlex="30%;">
      <mat-select [(ngModel)]="typeId" name="type" id="typeId" placeholder="Chart Type"
        (ngModelChange)="onTypeChange()">
        <mat-option *ngFor="let item of lstType;" [value]="item.value">{{item.label}}</mat-option>
      </mat-select>
    </mat-form-field> -->
  </mat-card>

  <div style="float: right;">
    <mat-button-toggle-group name="fontStyle" class="buttons" aria-label="Font Style" [value]="type"
                (change)="onValChange($event)" style="font-size: small;float:right;">                
      <mat-button-toggle id={{q}} *ngFor='let q of lstType; let i = index' [checked]="i === 0" style="padding: 0px;" value={{q}}>{{q}}</mat-button-toggle>               
    </mat-button-toggle-group>
  </div>

  <div class="content" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="6px" style="margin-left: 20px;width: 98%;">
    <div style="width: 100%;overflow: scroll;">
      <mat-card class="mat-elevation-z4" style="height: 435px;display: inline-flex;flex-flow: row wrap;">
        <!-- style="color: #0d6bd2;" -->
        <h3><b> {{title}}</b></h3>
        <!-- <h2 style="color: #0d6bd2;"><b>Energy Rate plan [Plan Name]</b></h2> -->
        <div id="tbarChartId"></div>
      </mat-card>
    </div>
    <div style="width: 100%;overflow: scroll;">
      <mat-card class="mat-elevation-z4" style="height: 435px;display: inline-flex;flex-flow: row wrap;">      
        <!-- style="color: #0d6bd2;" -->
        <h3><b> {{dailyTitle}}</b></h3>
        <div class="revbuttons">
          <button id={{type}} *ngFor='let type of dailyChart' (click)='showDailyData($event)'>
          {{ type}}
          </button>       
        </div>
        <div id="tbarChartId2"></div>
      </mat-card>
    </div>
  </div>  

</div>