.myInput {
    //height: 20px !important;
    padding: 10px !important;
  }
.task-header {
    background-color: transparent;
    padding: 0 5px;
     height: 20px;
}
.fx-spacer {
    flex: 1 1 auto;
}

.buttonStyle
{
    background: rgb(63, 81, 181);
    color: white;  
    padding-right: 10px;
}
