<h4 mat-dialog-title>
    <mat-toolbar role="toolbar" class="task-header">
        <span>{{title}}</span>
        <span class="fx-spacer"></span>
        <button mat-icon-button (click)="close()">
            <mat-icon title="Close" mat-list-icon>close</mat-icon>
        </button>
    </mat-toolbar>
</h4>

<form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content class="mat-dlg-content">
        <!-- <fury-card>
            <fury-card-content class="padding-top"> -->
            <div fxLayout="column" class="content">
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                    formControlName="option" [(ngModel)]="selectedOption">
                    <mat-radio-button class="example-radio-button marginRadioButton" *ngFor="let option of options" [value]="option">
                          <!-- fxLayout.gt-sm="column" fxLayoutGap.gt-sm="1px"> -->
                        <div fxLayout="column">
                            {{option.label}}
                        </div>
                    </mat-radio-button>
                </mat-radio-group>
            </div>    
            <!-- </fury-card-content>
        </fury-card> -->
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button mat-button (click)="close()">NO</button>
        <button mat-button class="buttonStyle" [disabled]="selectedOption == null">YES</button>        
    </mat-dialog-actions>
</form>