@import "var";
@import "~quill/dist/quill.snow.css";
@import "~quill/dist/quill.snow.css";


.img-style{
  width: 32px;
}

.mat-icon{
  color: white;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
.editor {
  height: 100%;
  width: 100%;
}

.quill {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  overflow: hidden;
  min-height: 70px;
}
@import "var";


.card {
    margin: 0px;
    max-width: 100%;
    border-radius: $border-radius;
    overflow: hidden;
  
    @include mat-elevation(10);
  
    .heading {
      font: var(--font-title);
    }
  
    .subheading {
      font: var(--font-subheading-1);
    }
  
    .content {
      margin: $spacing/2 0;
  
      .checkbox {
        margin-top: $spacing/2;
      }
    }
  
    .actions {
      margin-top: $spacing;
      padding: $spacing $spacing/3 0;
    }
  }

  
.heading
{
  background: #1976d2;
    font-size: 17px;
    height: 0px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 375px) {
  hr{
    width:255px;
  }
}

@media only screen and (max-width: 425px) {
  hr{
    width:361px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  hr{
    width: 705px;
  } 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
  hr{
    width: 1021px;
  } 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1440px) {
  hr{
    width: 1095px;
  }
  
  .textId{
    width: 2000px;
  }
}

@media only screen and (min-width: 2560px) {
  hr{
    width: 2210px;
  }

  .textId{
    width: 2500px;
  }
}

.position-fixed{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;
}