.padding{
    padding:0 0 24px 0;
}


.toolbar-spacer {
    flex: 1 1 auto;
  }
  
  .img-style{
    width: 32px;
  }

  .position-fixed{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 5;
  }