<fury-page-layout mode="card" style="margin-top: 27px;">

    <fury-page-layout-content fxLayout="column" class="content">
        <mat-toolbar color="primary" class="position-fixed">
            <img class="img-style" src="assets/img/fav-icon.png">
            <span>Credit Note History</span>
            <span class="toolbar-spacer"></span>
            <fury-credit-note-history-details (printClicked)="onPrintSummary()" (exportClicked)="onExport()"></fury-credit-note-history-details>
        </mat-toolbar>

        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="start stretch">

            <fury-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <fury-card-header>
                </fury-card-header>
                <fury-card-content fxLayout="column">
                    <div class="result" fxLayout="column">
                        <fury-credit-note-history-toolbar [billPeriods]="billPeriods" [isHide]="false"
                            (searchClicked)="onSearch($event)">
                        </fury-credit-note-history-toolbar>

                        <fury-expandable-table-structure [tableData]="creditNotes" [columnsToDisplay]="columns"
                            [innerDisplayedColumns]="innerColumns" [columnNames]="columnNames"
                            (selectedRows)="onSelectedRows($event)" (viewDataRow)="onViewDataRow($event)"
                            (printDataRow)="creditNoteView($event)" [hideHeader]="false"
                            [visibleButtons]="visibleButtons" class="padding-top">
                        </fury-expandable-table-structure>

                    </div>

                    <div class="padding" fxLayout="column">
                        
                    </div>
                    
                        <div class="result" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="end end"
                            fxLayoutGap.gt-sm="12px">

                            <mat-form-field class="result" color="primary">
                                <mat-label>Bill Amount</mat-label>
                                <input type="text" id="billAmount" name="billAmount" style="text-align: right;"
                                    [(ngModel)]="billAmount" matInput>
                            </mat-form-field>

                            <mat-form-field class="result" color="primary">
                                <mat-label>Credit Note Amount</mat-label>
                                <input type="textbox" id="creditNoteAmount" name="creditNoteAmount" style="text-align: right;"
                                    [(ngModel)]="creditNoteAmount" matInput>
                            </mat-form-field>
                        </div>
                    
                </fury-card-content>

            </fury-card>
        </div>
    </fury-page-layout-content>

</fury-page-layout>