<div mat-dialog-title>
    <mat-toolbar role="toolbar" class="task-header">
      <span>Meter Replacement</span>
      <span class="fx-spacer"></span>
      <button mat-icon-button (click)="close()">
          <mat-icon title="Close" mat-list-icon>close</mat-icon>
      </button>
    </mat-toolbar>
  </div>

<form [formGroup]="form" (ngSubmit)="save()">     
    <mat-dialog-content class="mat-dlg-content">        
    <fury-card>     
        <fury-card-content class="padding-top">  

            <div class="person">
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px">

                    <mat-form-field fxFlex>
                        <mat-label>Date</mat-label>
                        <input type="date" formControlName="replacementDate" matInput>
                        <app-show-errors [ctrl]="form.get('replacementDate')"></app-show-errors>
                        <mat-hint>Please select Date</mat-hint>
                    </mat-form-field>

                    <mat-form-field fxFlex>
                        <mat-label>Utility Type</mat-label>
                        <input matInput [matAutocomplete]="utility" formControlName="utilityType">
                        <mat-autocomplete #utility="matAutocomplete" (optionSelected)="selectUtilityType($event)">
                            <mat-option *ngFor="let utility of filteredUtilityTypes; index as i" [value]="utility.description">
                                {{ utility.description }}
                            </mat-option>
                        </mat-autocomplete>  
                        <app-show-errors [ctrl]="form.get('utilityTypeId')"></app-show-errors> 
                        <mat-hint>Please select a Utility Type</mat-hint>
                    </mat-form-field>

                    <mat-form-field fxFlex>
                        <mat-label>Unit</mat-label>                      
                        <input matInput [matAutocomplete]="unit" formControlName="unitNumber">
                        <mat-autocomplete #unit="matAutocomplete" (optionSelected)="selectUnit($event)">
                            <mat-option *ngFor="let unit of filteredUnits; index as i" [value]="unit.description">{{ unit.description }}
                            </mat-option>
                        </mat-autocomplete>  
                        <app-show-errors [ctrl]="form.get('unitId')"></app-show-errors>
                        <mat-hint>Please select a Unit</mat-hint>
                    </mat-form-field>

                </div>
            </div>

            <div class="person">
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px">
                    
                    <mat-form-field class="titleSelector" fxFlex>
                        <mat-label>Meter</mat-label>
                        <input matInput [matAutocomplete]="meter" formControlName="deviceName">
                        <mat-autocomplete #meter="matAutocomplete" (optionSelected)="selectMeter($event)">
                            <mat-option *ngFor="let meter of filteredMeters; index as i" [value]="meter.description">
                                {{ meter.description }}
                            </mat-option>
                        </mat-autocomplete> 
                        <app-show-errors [ctrl]="form.get('id')"></app-show-errors> 
                        <mat-hint>Please select a Meter</mat-hint>
                    </mat-form-field> 

                    <mat-form-field fxFlex>
                        <mat-label>Reading</mat-label>
                        <input type="number" formControlName="reading" matInput>         
                        <app-show-errors [ctrl]="form.get('reading')"></app-show-errors>
                        <mat-hint>Please enter meter reading</mat-hint>
                    </mat-form-field>

                    <mat-form-field fxFlex>
                        <mat-label>Device Status</mat-label>
                        <mat-select formControlName="deviceStatus">
                            <mat-option value="0">--Select--</mat-option> 
                            <mat-option *ngFor="let deviceStatus of metadataDeviceStatus; index as i" [value]="deviceStatus.id">
                                {{ deviceStatus.description }}</mat-option> 
                        </mat-select>
                        <app-show-errors [ctrl]="form.get('deviceStatus')"></app-show-errors>
                        <mat-hint>Please select Device Status</mat-hint>
                    </mat-form-field>                      

                </div>
            </div>      
            
            <div class="person">
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px">

                    <mat-form-field fxFlex>
                        <mat-label>Remarks</mat-label>
                        <input type="text" formControlName="remarks" matInput>         
                        <app-show-errors [ctrl]="form.get('remarks')"></app-show-errors>
                        <mat-hint>Please enter remarks</mat-hint>
                    </mat-form-field> 
                 
                </div>
            </div>    

        </fury-card-content>
    </fury-card>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button mat-button [disabled]="!form.valid">CREATE METER REPLACEMENT</button>
      </mat-dialog-actions>
</form>               

